# Python
venv/
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Env variables
.env
.env.*

# FastAPI / Uvicorn / SQLite
*.sqlite3
*.log

# IDEs / Editors
.vscode/
.idea/

# MacOS / System
.DS_Store

# SQLite DB — исключаем только базу, но не всю папку!
data/builds.db

