<div id="screen-home" class="screen active">
  <h2 style="text-align: center;">Выберите игру</h2>

  <div class="button-grid three-column">

    <div class="card-btn" onclick="showScreen('screen-warzone-main')">
      <i class="fas fa-crosshairs"></i>
      <span>Калда</span>
    </div>

    <div class="card-btn" onclick="alert('Battlefield в разработке')">
      <i class="fas fa-bullseye"></i>
      <span>Батла</span>
    </div>

    <div class="card-btn" onclick="alert('Fortnite в разработке')">
      <i class="fas fa-bolt"></i>
      <span>Фортнайт</span>
    </div>

    <div class="card-btn" onclick="alert('Магазин в разработке')">
      <i class="fas fa-store"></i>
      <span>Магазин</span>
    </div>

    <div class="card-btn" onclick="alert('Новости в разработке')">
      <i class="fas fa-newspaper"></i>
      <span>Новости</span>
    </div>

    <div class="card-btn" onclick="alert('Помощь в разработке')">
      <i class="fas fa-question-circle"></i>
      <span>Помощь</span>
    </div>

  </div>
</div>
